<!DOCTYPE html>

<head>
	<title>About - Moru Mall Website Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
			<ul class="navigation">
				   <li>
						<a class="middle" href="index.html">            </a>
					</li>
					<li>
						<a class="middle" href="index.html">The Mall</a>
					</li>
					
					<li >
						<a href="about.html">关于我们</a>
					</li>
					<li >
						<a href="shops.html">万千世界</a>
					</li>
					<li class="active">
						<a href="blog.html">推广</a>
					</li>
					<li>
						<a href="sale.html">热卖</a>
					</li>
					
					
					<li class="last">
						<a href="contact.html">我们在哪里</a>
					</li>
					<li>
						<a href="joinus.html">  </a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div class="content">
				<ul class="about">
					<li>
						<h2><a href="about.html">We have Free Templates for Everyone</a></h2>
						<p>
							Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="#about/terms">Terms of Use</a>. You can even remove all our links if you want to.
						</p>
					</li>
					<li>
						<h2><a href="about.html">We Have More templates for you</a></h2>
						<p>
							Looking for more templates? Just browse through all our <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a> and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you?re looking for something diferent, something special. And we love the challenge of doing something diferent and something special.
						</p>
					</li>
					<li>
						<h2><a href="about.html">Be Part of Our Community</a></h2>
						<p>
							If you're experiencing issues and concerns about this website template, join the discussion <a href="#">on our forums</a> and meet other people in the community who share the same interests with you.
						</p>
					</li>
					<li>
						<h2>Template details </h2>
						<span>Design version 3</span>
						<span>Code version 2</span>
						<p>
							Website Template details, discussion and updates for this <a href="#discuss/morumallwebsitetemplate/">Moru Mall Website Template</a>. 
							Website Template design by <a href="#">Free Website Templates.</a>
						</p>
						<p>
							Please feel free to remove some or all the text and links of this page and replace it with your own.
						</p>
					</li>
				</ul>
			</div>
			<div class="aside"> <a href="about.html"><img src="images/discoverAndShare.png" alt=""></a> </div>
		</div>
		<div id="footer">
			<div>
				<ul class="connect">
					<li>
						<a href="#" class="googleplus">&nbsp;</a>
					</li>
					<li>
						<a href="#misc/contact" class="email">&nbsp;</a>
					</li>
					<li>
						<a href="#go/facebook/" class="facebook">&nbsp;</a>
					</li>
					<li>
						<a href="#go/twitter/" class="twitter">&nbsp;</a>
					</li>
				</ul>
				<span>&copy; 2012. <a href="index.html">Moru Mall</a> all rights reserved</span> </div>
		</div>
	</div>
</body>
</html>