<!DOCTYPE html>

<head>
	<title>Blog - Moru Mall Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
		<ul class="navigation">
				   <li>
						<a class="middle" href="index.html">            </a>
					</li>
					<li>
						<a class="middle" href="index.html">The Mall</a>
					</li>
					
					<li >
						<a href="about.html">关于我们</a>
					</li>
					<li >
						<a href="shops.html">万千世界</a>
					</li>
					<li class="active">
						<a href="blog.html">推广</a>
					</li>
					<li>
						<a href="sale.html">热卖</a>
					</li>
					
					
					<li class="last">
						<a href="contact.html">我们在哪里</a>
					</li>
					<li>
						<a href="joinus.html">  </a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div id="content">
				<div class="content">
					<ul class="blog">
						<li>
							<h1> <a href="blog.html">The Latest Album</a> <span><a href="blog.html">Comments</a></span> </h1>
							<span>Posted on July 01, 2012</span> <a href=""><img src="images/big-discount-fever-blog.jpg" alt=""></a>
							<p>
								This website template has been collect from <a href="#">#</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
							</p>
							<p>
								This website template has been collect from <a href="#">#</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
							</p>
						</li>
					</ul>
					<ul class="paging">
						<li class="first">
							<a href="index.html">First</a>
						</li>
						<li>
							<ul>
								<li>
									<a class="active" href="index.html">1</a>
								</li>
								<li>
									<a href="index.html">2</a>
								</li>
								<li>
									<a href="index.html">3</a>
								</li>
								<li>
									<a href="index.html">4</a>
								</li>
								<li>
									<a href="index.html">5</a>
								</li>
								<li>
									<a href="index.html">6</a>
								</li>
								<li>
									<a href="index.html">7</a>
								</li>
								<li>
									<a href="index.html">8</a>
								</li>
								<li>
									<a href="index.html">9</a>
								</li>
								<li>
									<a href="index.html">10</a>
								</li>
							</ul>
						</li>
						<li class="last">
							<a href="index.html">Last</a>
						</li>
					</ul>
				</div>
				<div id="sidebar">
					<h2>Archive</h2>
					<ul>
						<li>
							<h4>2012</h4>
							<ul>
								<li>
									<a href="blog.html">February</a>
								</li>
								<li>
									<a href="blog.html">January</a>
								</li>
							</ul>
						</li>
						<li>
							<h4>2011</h4>
							<ul>
								<li>
									<a href="blog.html">December</a>
								</li>
								<li>
									<a href="blog.html">November</a>
								</li>
								<li>
									<a href="blog.html">October</a>
								</li>
								<li>
									<a href="blog.html">September</a>
								</li>
								<li>
									<a href="blog.html">August</a>
								</li>
								<li>
									<a href="blog.html">July</a>
								</li>
								<li>
									<a href="blog.html">June</a>
								</li>
								<li>
									<a href="blog.html">May</a>
								</li>
								<li>
									<a href="blog.html">April</a>
								</li>
								<li>
									<a href="blog.html">March</a>
								</li>
								<li>
									<a href="blog.html">February</a>
								</li>
								<li>
									<a href="blog.html">January</a>
								</li>
							</ul>
						</li>
						<li>
							<h4>2010</h4>
						</li>
						<li>
							<h4>2009</h4>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="connect">
					<li>
						<a href="#" class="googleplus">&nbsp;</a>
					</li>
					<li>
						<a href="#misc/contact" class="email">&nbsp;</a>
					</li>
					<li>
						<a href="#go/facebook/" class="facebook">&nbsp;</a>
					</li>
					<li>
						<a href="#go/twitter/" class="twitter">&nbsp;</a>
					</li>
				</ul>
				<span>&copy; 2012. <a href="index.html">Moru Mall</a> all rights reserved</span> </div>
		</div>
	</div>
</body>
</html>