<!DOCTYPE html>

<head>
	<title>Contact Us - Moru Mall Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
			
			<ul class="navigation">
				   <li>
						<a class="middle" href="index.html">            </a>
					</li>
					<li>
						<a class="middle" href="index.html">The Mall</a>
					</li>
					
					<li >
						<a href="about.html">关于我们</a>
					</li>
					<li >
						<a href="shops.html">万千世界</a>
					</li>
					<li class="active">
						<a href="blog.html">推广</a>
					</li>
					<li>
						<a href="sale.html">热卖</a>
					</li>
					
					
					<li class="last">
						<a href="contact.html">我们在哪里</a>
					</li>
					<li>
						<a href="joinus.html">  </a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div id="content">
				<div class="section">
					<h2>This is just a place holder</h2>
					<p>
						This website template has been collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a> for you, for free. You can replace all this text with your own text.
					</p>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
					</p>
					<ul>
						<li>
							<label> E-mail: Forum <span>Call or e-mail us for help with any aspect of your purchase, online or offline.</span> <span class="connect"> Call toll-free: 877 000 0000</span> <span class="connect"> Call toll-free: 866 000 0000</span> <span class="connect"> Toll-free fax: 877 000 0000</span> </label>
						</li>
						<li>
							<h2>Mailing Address</h2>
							<span> Moru Mall</span> <span> 250 Lorem Ipsum Street</span> <span> Jaofanr, Caknan 109935</span> <span> Kiangab</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="connect">
					<li>
						<a href="#" class="googleplus">&nbsp;</a>
					</li>
					<li>
						<a href="#misc/contact" class="email">&nbsp;</a>
					</li>
					<li>
						<a href="#go/facebook/" class="facebook">&nbsp;</a>
					</li>
					<li>
						<a href="#go/twitter/" class="twitter">&nbsp;</a>
					</li>
				</ul>
				<span>&copy; 2012. <a href="index.html">Moru Mall</a> all rights reserved</span> </div>
		</div>
	</div>
</body>
</html>