<!DOCTYPE html>

<head>
	<title>Moru Mall Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				
				<ul class="navigation">
				   <li>
						<a class="middle" href="index.html">            </a>
					</li>
					<li>
						<a class="middle" href="index.html">The Mall</a>
					</li>
					
					<li >
						<a href="about.html">关于我们</a>
					</li>
					<li >
						<a href="shops.html">万千世界</a>
					</li>
					<li class="active">
						<a href="blog.html">推广</a>
					</li>
					<li>
						<a href="sale.html">热卖</a>
					</li>
					
					
					<li class="last">
						<a href="contact.html">我们在哪里</a>
					</li>
					<li>
						<a href="joinus.html">  </a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div class="featured">
				<ul>
					<li>
						<a href="index.html"><img src="images/food-and-dinning.png" alt=""></a>
					</li>
					<li>
						<a href="index.html"><img src="images/crazy-shopping.png" alt=""></a>
					</li>
					<li>
						<a href="index.html"><img src="images/discover-ef.png" alt=""></a>
					</li>
					<li>
						<a href="index.html"><img src="images/big-discount-fever.png" alt=""></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="connect">
					<li>
						<a href="#" class="googleplus">&nbsp;</a>
					</li>
					<li>
						<a href="#misc/contact" class="email">&nbsp;</a>
					</li>
					<li>
						<a href="#go/facebook/" class="facebook">&nbsp;</a>
					</li>
					<li>
						<a href="#go/twitter/" class="twitter">&nbsp;</a>
					</li>
				</ul>
				<span>&copy; 2012. <a href="index.html">Moru Mall</a> all rights reserved</span> </div>
		</div>
	</div>
</body>
</html>