<!DOCTYPE html>

<head>
	<title>Hot Sale - Moru Mall Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				
			<ul class="navigation">
				   <li>
						<a class="middle" href="index.html">            </a>
					</li>
					<li>
						<a class="middle" href="index.html">The Mall</a>
					</li>
					
					<li >
						<a href="about.html">关于我们</a>
					</li>
					<li >
						<a href="shops.html">万千世界</a>
					</li>
					<li class="active">
						<a href="blog.html">推广</a>
					</li>
					<li>
						<a href="sale.html">热卖</a>
					</li>
					
					
					<li class="last">
						<a href="contact.html">我们在哪里</a>
					</li>
					<li>
						<a href="joinus.html">  </a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div id="content">
				<ul class="sale">
					<li>
						<a href="sale.html"><img src="images/big-discount-fever-hot-sale.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/ushape.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/skin-naturals.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/veauty-salon.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/take-2-for-price-of-1.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/free-lipsticks.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/go-natural.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/shoe-much-in-love.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/fresh-fruits-and-vegetables.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/fit-it-while-you-dance.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/eat-all-you-can.png" alt=""></a>
					</li>
					<li>
						<a href="sale.html"><img src="images/jewelized.png" alt=""></a>
					</li>
				</ul>
				<ul class="paging">
					<li class="first">
						<a href="index.html">First</a>
					</li>
					<li>
						<ul>
							<li>
								<a class="active" href="index.html">1</a>
							</li>
							<li>
								<a href="index.html">2</a>
							</li>
							<li>
								<a href="index.html">3</a>
							</li>
							<li>
								<a href="index.html">4</a>
							</li>
							<li>
								<a href="index.html">5</a>
							</li>
							<li>
								<a href="index.html">6</a>
							</li>
							<li>
								<a href="index.html">7</a>
							</li>
							<li>
								<a href="index.html">8</a>
							</li>
							<li>
								<a href="index.html">9</a>
							</li>
							<li>
								<a href="index.html">10</a>
							</li>
						</ul>
					</li>
					<li class="last">
						<a href="index.html">Last</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="connect">
					<li>
						<a href="#" class="googleplus">&nbsp;</a>
					</li>
					<li>
						<a href="#misc/contact" class="email">&nbsp;</a>
					</li>
					<li>
						<a href="#go/facebook/" class="facebook">&nbsp;</a>
					</li>
					<li>
						<a href="#go/twitter/" class="twitter">&nbsp;</a>
					</li>
				</ul>
				<span>&copy; 2012. <a href="index.html">Moru Mall</a> all rights reserved</span> </div>
		</div>
	</div>
</body>
</html>